{% extends "index.html" %}
{% block title %} Login {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {% from "_formhelper.html" import render_field %}
    <form action="{{url_for('user.login')}}", method="POST">
        {{ form.csrf_token }}
        {{ render_field(form.username, class_="form-control") }}
        {{ render_field(form.password, class_="form-control") }}
        <div class="form-group">
            {{form.submit() }}
        </div>
</form>
{% endblock %}